html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 62.5%;
}

body {
    max-width: 450px;
    width: 95%;
}

form {
    font-size: 1.1em;
    margin: 1em;
}

label {
    display: block;
}

input {
    line-height: 1em;
}

input[type=text],
textarea {
    width: 100%;
    /* padding: 5px; */
    box-sizing: border-box;
}

input[type=text],
input[type=date],
textarea {
    margin-bottom: 5px;
    margin-right: 5px;
}


textarea {
    resize: vertical;
    min-height: 75px;
}

.column {
    width: 50%;
    float: left;
}
#error-span {
    color: red;
    padding-left: 1em;
    font-size: 0.8em;
}

#note-display {
    width: 100%;
    margin: 1em;
    font-size: 1.1em;
}

.note-row {
    width: 100%;
    height: 1.75em;
}

.delete-note-btn {

}

.title,
.critical,
.due-date,
.categories {
    height: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    width: 30%;
    cursor: pointer;
}

.critical {
    width: 10%;
}

.due-date {
    width: 15%;
}

.categories {
    width: 30%;
}

.underline {
    text-decoration-line: underline;
    text-decoration: underline red;
}