
html {
    font-family: 'Fira Sans', sans-serif;
}

form {
    margin: 1em;
}

#error-span {
    color: red;
    padding-left: 1em;
    font-size: 0.8em;
}

.card {
    background-color: #faf7f7;
    margin: 1em;
    width: 18em;
}

.card-avatar {
    width: 75px;
}

.card-properties {
    display: inline-block;
    margin-left: 15px;
}

.card-name {
    font-size: 1.1em;
    font-weight: bold;
}